.footer__link-list{
  margin: 0;
}
@media screen and (min-width: 321px) and (max-width: 767px){
  .footer__link-list{
    margin: 0px 0px 28px 0px;
  }
}
@media screen and (max-width: 320px){
  .footer__link-list{
    margin: 0px 0px 32px 0px;
}
}
