@import url(../photo-grid/__image/photo-grid__image.css);
.photo-grid{
max-width: 1184px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-content: space-between;
align-items: stretch;
margin: 92px auto 0;
}
@media (min-width: 1024px) and (max-width: 1279px){
  .photo-grid{
    width: 100%;
    max-width: 928px;
  }
}
@media (min-width: 767px) and (max-width: 1023px){
  .photo-grid{
  max-width: 720px;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px){
  .photo-grid{
    margin: 0px auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px){
  .photo-grid{
    width: 100%;
    max-width: 288px;
  }
}
