.place__image{
  width: 460px;
  height: 460px;
  grid-area: img;
  margin-top: 48px; /*Отступ от заголовка до картинки*/
  }
  @media screen and (max-width: 1024px){
    .place__image{
      width: 440px;
      height: 440px;
    }
  }
  @media screen and (max-width: 768px){
    .place__image{
      width: 340px;
      height: 340px;
    }
  }
  @media screen and (max-width: 320px){
    .place__image{
      width: 320px;
      height: 320px;
      margin-top: 32px;
    }
  }
