@import url(../lead/__caption/lead__caption.css);
@import url(../lead/__image/lead__image.css);
@import url(../lead/__subtitle/lead__subtitle.css);
@import url(../lead/__title/lead__title.css);

.lead{
  max-width: 984px;
  margin: 53px auto 0;
}
@media screen and (max-width: 1024px){
.lead{
  max-width: 928px;
  margin: 48px auto 0;
}
}
@media screen and (max-width: 768px){
.lead{
  max-width: 768px;
  margin: 48px auto 0;
}
}
@media screen and (max-width: 320px){
  .lead{
    max-width: 320px;
    max-height: 406px;
    margin: 48px auto 0;
    }
}
