.header__lang-link_rus{
  width: 30px;
  margin-right: 18px;
  text-decoration: underline;
  color: #FFF;
}
@media screen and (max-width: 768px){
.header__lang-link_rus{
  width: 30px;
  height: 28px;
}
}
@media screen and (max-width: 320px){
.header__lang-link_rus{
  width: 22px;
  }
}
