@import url(../header/__link/header__link.css);
@import url(../header/__menu/header__menu.css);
@import url(../header/__lang/header__lang.css);
@import url(../header/__logo/header__logo.css);
@import url(../header/__link/_active/header__llink_active.css);

.header{
  max-width: 1184px;
  padding-top: 28px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px){
  .header{
    max-width: 928px;
  }
}
@media screen and (max-width: 768px){
  .header{
    max-width: 720px;
  }
}
@media screen and (max-width: 320px){
  .header{
    max-width: 288px;
    padding-top: 16px;
  }
}
