@font-face{
  src: url(./Inter-Bold.woff),
       url(./Inter-Black.woff2);
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
}
@font-face{
  src: url(./Inter-Regular.woff),
       url(./Inter-Regular.woff2);
  font-family: 'Inter';
  font-weight: normal;
}
@font-face{
  src: url(./Inter-Black.woff),
       url(./Inter-Black.woff2);
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
}
@font-face{
  src: url(./Inter-ExtraLight.woff),
       url(./Inter-ExtraLight.woff2);
  font-family: 'Inter';
  font-weight: normal;
  font-style: normal;
}

