@font-face{
  src: url(./Inter-Bold.woff);
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
}
@font-face{
  src: url(./Inter-Regular.woff);
  font-family: 'Inter';
  font-weight: normal;
}
@font-face{
  src: url(./Inter-Black.woff);
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
}
@font-face{
  src: url(./Inter-ExtraLight.woff);
  font-family: 'Inter';
  font-weight: normal;
  font-style: normal;
}

