@import url(../intro/__list/intro__list.css);
@import url(../intro/__text/intro__text.css);
@import url(../intro/__title/intro__title.css);
@import url(../intro/__list-text/__list-text.css);
@import url(../intro/__span-accent/intro__span-accent.css);

.intro{
  max-width: 984px;
  margin: 92px auto 0;
}
@media screen and (min-width: 769px) and (max-width: 1023px){
  .intro{
  max-width: 720px ;
  margin: 92px auto;
  }
}
@media screen and (max-width: 768px){
  .intro{
    max-width: 720px;
    margin-left: 24px;
    margin: 88px auto 0;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px){
  .intro{
    max-width: 320px;
    margin: 68px auto;
  }
}
@media screen and (max-width: 320px){
  .intro{
    max-width: 288px;
    margin: 64px auto 0;
  }
}
