.intro__list-text {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
  max-width: 383px;
  list-style: none;
}
@media screen and (max-width: 320px){
  .intro__list-text{
    font-size: 12px;
    line-height: 18px;
  }
}
