.place__link{
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  color: #FFF;
}
.place__link:hover{
  opacity: .8;
  transition: .5s ease;
}
