.place__paragraph-wrap{
  display: flex;
  max-width: 484px;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
  .place__paragraph-wrap{
   max-width: 456px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .place__paragraph-wrap{
    max-width: 352px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px){
  .place__paragraph-wrap{
    max-width: 288px;
    margin: auto;
  }
}
