.cover__title{
  max-width: 560px;
  width: 100%;
  margin: 0;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFF;
 }
 @media screen and (min-width: 321px) and (max-width: 767px){
  .cover__title{
  font-size: 45px;
  line-height: 40px;
  }
 }
 @media screen and (max-width: 320px){
  .cover__title{
    max-width: 288px;
    width: 70%;
    font-size: 32px;
    line-height: 35px;
  }
 }
