@import url(../footer/__copyright/footer__copyright.css);
@import url(../footer/__links/footer__links.css);
@import url(../footer/__link-list/footer__link-list.css);
@import url(../footer/__link/footer__link.css);

.footer{
  max-width: 1184px;
  margin: 92px auto 0px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media screen and (min-width: 1024px) and (max-width: 1280px){
  .footer{
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .footer{
    width: 100%;
    margin: 88px auto 0px;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px){
  .footer{
  width: 100%;
  flex-direction: column;
  }
}
@media screen and (max-width: 320px){
  .footer{
    width: 100%;
    margin: 64px auto 0px;
    padding-bottom: 16px;
    flex-direction: column;
  }
}
