@import url(../footer/__copyright/footer__copyright.css);
@import url(../footer/__menu/footer__menu.css);

.footer{
  max-width: 1184px;
  margin: auto;
  margin-top: 92px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 1024px){
  .footer{
    max-width: 928px;
  }
}
@media screen and (max-width: 768px){
  .footer{
    max-width: 720px;
    margin-top: 88px;
  }
}
@media screen and (max-width: 320px){
  .footer{
    max-width: 186px;
    margin: 64px 0px 0px 16px;
    height: 310px;
    flex-direction: column;
  }
}
