.photo-grid__image{
max-width: 352px;
max-height: 264px;
margin: 16px 0px 0px;
}
@media screen and (max-width: 1280px){
 .photo-grid__image{
  max-width: 284px;
  width: 100%;
 }
}
@media screen and (max-width: 1024px) and (max-width: 1279px){
  .photo-grid__image{
    max-width: 300px;
    width: 100%;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px){
  .photo-grid__image{
  width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .photo-grid__item {
      width: 100%;
      margin: 16px auto 0;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid__item {
      width: 100%;
      margin: 12px 0 0;
  }
}
