.place__website{
  max-width: 456px;
  align-self: flex-end;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px){
  .place__website{
    max-width: 352px;
    margin: 0px 0px 48px 0px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px){
  .place__website{
    display: none;
  }
}
